

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>
<label for="ProductId">ProductId</label>
<h2>@Model.ProductId</h2>

<label for="Name">Name</label>
<h2>@Model.Name</h2>

<label for="Description">Description</label>
<h2>@Model.Description</h2>

<label for="Price">Price</label>
<h2>@Model.Price</h2>

<label for="StockQuantity">StockQuantity</label>
<h2>@Model.StockQuantity</h2>

<label for="Description">Description</label>
<h2>@Model.Description</h2>

